
*

!.gitignore
!environment.yml
!app.py
!requirements.txt
!README.md

!notebooks/
!notebooks/getting_started_py-feat.ipynb

!src/
!src/predict_image.py

!templates/
!templates/home_template.html

!data/
!data/raw/
!data/processed/


